.cube {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 550px) {
  .cube {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media screen and (max-width: 350px) {
  .cube {
    width: 1.5rem;
    height: 1.5rem;
  }
}
