.pyramid-line {
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-gap: 1.5rem;
  margin: 2rem;
}
@media screen and (max-width: 550px) {
  .pyramid-line {
    display: grid;
    grid-template-columns: 1rem 1rem;
    grid-gap: 0.5rem;
    margin: 0.5rem;
  }
  .h4-line {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 330px) {
  .pyramid-line {
    display: grid;
    grid-template-columns: 0 0 ;
    grid-gap: 0rem;
    margin: 0rem;
  }
  .p-line {
    font-size: 1rem;
    font-weight: 700;
  }
}
