/*Help screen*/
.Home {
  margin-top: 2rem;
  text-align: center;
}
h1 {
  color: #11cfdd;
  font-family: italic;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.backgroundHome {
  margin: 5rem auto;
  width: 30%;
  height: 30%;
}
.get-started{
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  color: #EE7F4C;

}
/*Help screen*/
.selected{
  font-size: 3rem;
  font-weight: 600;
  margin-left: 14.5rem;
}

/*Navbar*/
#navigationBar {
  /* background-image: linear-gradient(to top left, #cbbefa, #f587d9, #696bf0); */
  font-size: 1rem;
  font-weight: 500;
}
#logoImg {
  max-width: 4rem;
  max-height: 4rem;
}
#title {
  color: #63dfca;
  font-family: "Roboto Slab";
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #0b074d;
}

/*Signin form*/
b {
  color: #533f35;
  font-family: "Playfair Display";
  font-weight: 200;
  font-size: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #858585;
  border-radius: 0.2rem;
  margin: 2rem 0rem 4rem 0rem;
  padding: 3rem;
}
.form-control {
  max-width: 100%;
}

/*Signin page*/
.ChangePswd,
.SignIn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.form-label {
  color: #533f35;
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 200;
  font-size: 1rem;
}
.link-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.links {
  position: relative;
  flex-direction: column;
}
.mandatory {
  margin: 0.3rem;
  color: red;
}
.progressStars{
  position: absolute;
	margin-left: auto;
  margin-right: auto;
	left: 0;
	right: 0;
  text-align: center;
  padding-bottom: 0rem;
}
/*Footer*/
.footer{
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
}
.next-btn{
  position: fixed;
  padding: 0.5rem;
  right: 0;
  bottom: 0;
}
.fab-help{
  background-color: yellow;
}
@media screen and (max-width: 550px) {
  /*Navbar*/
  #navigationBar {
    /* background-image: linear-gradient(to top right, #faecbe, #f587d9, #696bf0); */
    font-size: 1rem;
    font-weight: 500;
  }
  #logoImg {
    max-width: 4rem;
    max-height: 4rem;
  }
  #title {
    color: #63dfca;
    font-family: "Roboto Slab";
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem #0b074d;
  }
  /*Footer*/
.footer{
  display: flex;
  justify-content: space-around;
}
  /*Home page*/
  .backgroundHome {
    margin: -2rem auto;
    width: 100%;
    height: 100%;
  }
  .help-modal{
    margin: 0;
    padding: 0;
  }
  /*Signin form*/
  b {
    color: #533f35;
    font-family: "Playfair Display";
    font-weight: 200;
    font-size: 1rem;
  }

  input::-webkit-input-placeholder {
    font-size: 0.7rem;
  }

  .form-text {
    margin-top: 0.8rem;
    font-size: 0.6rem;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #858585;
    border-radius: 0.2rem;
    margin: 2rem 0.6rem 2rem 0.6rem;
    padding: 1rem;
  }
  .form-control {
    width: 100%;
    font-size: 0.7rem;
  }
  .form-label {
    color: #533f35;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight: 200;
    font-size: 0.8rem;
  }
  #SubmitCP,
  #Submit,
  #Change {
    font-size: 0.8rem;
  }
  /*Help screen*/
.selected{
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 9rem;
}
}
@media screen and (max-width: 330px) {
  /*Help screen*/
  .selected{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 6rem;
  }
  #title {
  display: none;
  }
}